<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href='/'>Home</a></p>
    <form method='POST' action='/new'>
      <div>
        <label for='user'>User name: </label>
        <input id='user' type='text' name='user' />
      </div>
      <div>
        <label for='text'>Message: </label>
        <input id='text' type='text' name='text' />
      </div>
      <button type='submit'>Submit</button>
    </form>
  </body>
</html>
